.header__lang-link {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #FFF;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: 0.6s;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
