.lead__image {
  position: relative;
  margin-top: 64px;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
