.place__link {
  grid-area: place-url;
  margin: 0 0 0 40px;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #FFF;
}

.place__link:hover {
  opacity: 0.8;
  transition: 0.6s;
}

@media screen and (max-width: 1024px) {
  .place__link {
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    margin-left: 28px;
  }
}

@media screen and (max-width: 620px) {
  .place__link {
    margin-left: 16px;
  }
}
