.cover__background {
  position: relative;
  background: url("/images/cover-trains.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 740px;
  text-decoration: none;
}

.cover__background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  transition: 0.5s;
}

.cover__background:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 620px) {
  .cover__background {
    min-height: 340px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
